pip-tools
torch==1.5.*
pytorch-lightning==0.7.6
pandas>=1.0
numpy
scikit-learn
matplotlib>=3.0
seaborn
jupyter
pytest
pre-commit
black
flake8
streamlit
tokenizers
hypothesis
inflect
isort[requirements]
jupyterlab
spacy
whatthelang
tokenizers
clean-text
